
    <html>

    <head>

    </head>
    <body>

      <div class="container-fluid">
        <div class="row">
              
  <div class="col-sm-9 col-md-5  mx-auto">
    <div class="card card-signin my-5" style="background-image: url('')">
      <div class="card-body">
       

        <a (click)="additem()" class= "btn btn-info active" role="=button" routerLinkActive="active">add-item</a>



</div>
</div>
</div>
      
  <div class="col-sm-9 col-md-5  mx-auto">
    <div class="card card-signin my-5" style="background-image: url('')">
      <div class="card-body">
        <a   style=" color:#00CFC8;"  class= "btn btn-info active" (click)="productlist()"> MyProducts</a>

<h1> What TO Start Online Business You Came To Right Place Lets Earn Together</h1>



</div>
</div>
</div>
</div>
</div>
   

  

  </body>

  </html>