<h3>Update Item</h3>
<div style="width:40%;margin: 25px auto">
  <form #form="ngForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control form-control-lg text-left"
                  id="itemDescription" name="itemDescription"
                  placeholder="Description" [(ngModel)]="item.itemDescription"></textarea>
    </div>


      <!--Price-->
      <div class="form-group">
        <label for="productPrice">Price</label>
        <input class="form-control form-control-lg"
               type="number"
               id="itemCost"
               name="itemCost"
               #itemCost="ngModel"
               [(ngModel)]="item.itemCost"
               required>
        <div *ngIf="itemCost.invalid && (itemCost.dirty ||itemCost.touched)">
            <div *ngIf="itemCost.errors.required">
                Price is required.
            </div>
        </div>
    </div>
     <!--quantity-->
     <div class="form-group">
        <label for="productQuntity">Quantity</label>
        <input class="form-control form-control-lg"
               type="number"
               id="quantity"
               name="quantity"
               min="0" #quantity="ngModel"
               [(ngModel)]="item.quantity"
               required>
        <div *ngIf="quantity.invalid && (quantity.dirty ||quantity.touched)">
            <div *ngIf="quantity.errors.required">
              quantity is required.
            </div>
        </div>
    </div>
<!--Stock-->
    <div class="form-group">
        <label for="productStock">Stock</label>
        <input class="form-control form-control-lg"
               type="text"
               id="stock"
               name="stock"
               min="0" #stock="ngModel"
               [(ngModel)]="item.stock"
               required>
        <div *ngIf="stock.invalid && (stock.dirty ||stock.touched)">
            <div *ngIf="stock.errors.required">
                Stock is required.
            </div>
        </div>
    </div>

    <div class="form-group">
        <label> Prodcut manufacturer</label>
        <input [(ngModel)]="item.manufacturer" type="text" class="form-control form-control-lg" id="manufacturer"
               #manufacturer="ngModel"
               name="manufacturer" placeholder="manufacturer" required>

               <div *ngIf="manufacturer.invalid && (manufacturer.dirty ||manufacturer.touched)">
                <div *ngIf="manufacturer.errors.required">
                    manufacturer  is required.
                </div>
            </div>
    </div>

    <button type="submit" [disabled]="!form.form.valid" class="btn btn-success">Submit</button>
  </form>
</div>