<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Item List</h2>

    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Itemid</th>
            <th>IteName</th>
            <th>ItemCost</th>
            <th>Stock</th>
            <th>Quantity</th>
            <th>DeleteItem</th>
          
            <th>Update</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of item">
            <td>{{i.itemid}}</td>
            <td>{{i.itemName}}</td>
            <td>{{i.itemCost}}</td>
            <td>{{i.stock}}</td>
            <td>{{i.quantity}}</td>
            <td><button (click)="deleteitem(i.itemid)" class="btn btn-danger">Delete</button></td>

               <td>  <button (click)="Update(i.itemid)" class="btn btn-info" style="margin-left: 10px">Update</button></td> 
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <button (click)="Toaddproduct()" class="btn btn-info" style="margin-left: 10px">GotoAddProduct</button>